<form class="mt-4" (ngSubmit)="login()">
  <legend>Welcome to SanviPop!</legend>

  <div class="form-group">
    <label for="correo">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)]="email">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <p class="text-danger" *ngIf="error">Email or password is incorrect</p>
  <!-- <a class="btn btn-secondary" href="/register.html" role="button">Create account</a> -->
  <button type="submit" class="btn btn-primary">Login</button>
</form>
