<swal icon="error" title="Error" #errorSwal>
  <ng-container *swalPortal="swalTargets.content">
    {{ message }}
  </ng-container>
</swal>
<div class="container">
  <form
    action="#"
    (ngSubmit)="login()"
    id="form-login"
    class="mt-4"
    method="POST"
    role="form"
    #prodForm="ngForm"
  >
    <legend>Welcome to FoodScore!</legend>

    <div class="form-group">
      <label for="correo">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="user.email"
        #nombreModel="ngModel"
        [ngClass]="{
          'is-valid': nombreModel.touched && nombreModel.valid,
          'is-invalid': nombreModel.touched && nombreModel.invalid
        }"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="nombreModel.errors && nombreModel.errors.required"
      >
        Email is required
      </div>
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        [(ngModel)]="user.password"
        placeholder="Password"
        #passModel="ngModel"
        [ngClass]="{
          'is-valid': passModel.touched && passModel.valid,
          'is-invalid': passModel.touched && passModel.invalid
        }"
        required
      />

      <div
        class="invalid-feedback"
        *ngIf="passModel.errors && passModel.errors.required"
      >
        Password is required
      </div>
    </div>
    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/auth/register']" role="button"
      >Create account</a
    >
    <button
      type="submit"
      class="btn btn-primary"
      (click)="login()"
      [disabled]="prodForm.invalid"
    >
      Login
    </button>
    <button
      spFbLogin
      [scopes]="['email', 'public_profile']"
      class="btn btn-primary"
      (loginOk)="loggedFacebook($event)"
      (loginError)="showError($event)"
    >
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      Facebook
    </button>

    <button
      spGoogleLogin
      type="button"
      class="btn btn-danger"
      (loginOk)="loggedGoogle($event)"
    >
      <fa-icon [icon]="['fab', 'google']"></fa-icon>
      Google Login
    </button>
  </form>
</div>
