<swal icon="error" title="Error" #errorSwal>
  <ng-container *swalPortal="swalTargets.content">
    {{ message }}
  </ng-container>
</swal>

<div class="container">
  <form
    action="#"
    id="form-register"
    class="mt-4"
    role="form"
    (ngSubmit)="register()"
    [formGroup]="registerForm"
  >
    <legend>Create an account</legend>

    <div class="form-group">
      <label for="nombre">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [ngClass]="{
          'is-invalid':
            registerForm.get('name')?.touched &&
            registerForm.get('name')?.invalid,
          'is-valid': registerForm.get('name')?.valid
        }"
        placeholder="Name"
        formControlName="name"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.get('name')?.errors &&
          registerForm.get('name')?.errors?.required
        "
      >
        Name is required
      </div>
    </div>
    <div formGroupName="emailGroup">
      <div class="form-group">
        <label for="correo">Email:</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              registerForm.get('emailGroup')?.get('email')?.touched &&
              registerForm.get('emailGroup')?.get('email')?.invalid,
            'is-valid': registerForm.get('emailGroup')?.get('email')?.valid
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('emailGroup')?.get('email')?.errors &&
            registerForm.get('emailGroup')?.get('email')?.errors?.required
          "
        >
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="correo">Repeat Email:</label>
        <input
          type="email"
          class="form-control"
          id="email2"
          placeholder="Reapeat Email"
          formControlName="emailConfirm"
          [ngClass]="{
            'is-invalid':
              registerForm.get('emailGroup')?.touched &&
              registerForm.get('emailGroup')?.invalid,
            'is-valid': registerForm.get('emailGroup')?.valid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('emailGroup')?.get('emailConfirm')?.errors &&
            registerForm.get('emailGroup')?.get('emailConfirm')?.errors
              ?.required
          "
        >
          Email confirmation is required
        </div>

        <div
          class="invalid-feedback"
          *ngIf="registerForm.get('emailGroup')?.errors"
        >
          Emails doesn't match
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{
          'is-invalid':
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.invalid,
          'is-valid': registerForm.get('password')?.valid
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.get('password')?.errors &&
          registerForm.get('password')?.errors?.required
        "
      >
        Password is required
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.get('password')?.errors &&
          registerForm.get('password')?.errors?.minlength
        "
      >
        Add at least
        {{
          registerForm.get("password")?.errors?.minlength.requiredLength -
            registerForm.get("password")?.errors?.minlength.actualLength
        }}
        characters
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="lat">Latitude:</label>
        <input
          type="text"
          class="form-control"
          id="lat"
          placeholder="Geolocating..."
          readonly
          formControlName="latitude"
          [ngClass]="{
            'is-invalid': registerForm.get('latitude')?.invalid,
            'is-valid': registerForm.get('latitude')?.valid
          }"
        />
      </div>
      <div class="form-group col">
        <label for="lng">Longitude:</label>
        <input
          type="text"
          class="form-control"
          id="lng"
          placeholder="Geolocating..."
          readonly
          formControlName="longitude"
          [ngClass]="{
            'is-invalid': registerForm.get('longitude')?.invalid,
            'is-valid': registerForm.get('longitude')?.valid
          }"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="image">Avatar image</label>
      <input
        type="file"
        class="form-control"
        id="avatar"
        required
        #fileImage
        formControlName="avatar"
        (change)="changeImage(fileImage)"
        [ngClass]="{
          'is-invalid':
            registerForm.get('avatar')?.touched &&
            registerForm.get('avatar')?.invalid,
          'is-valid': registerForm.get('avatar')?.valid
        }"
      />

      <div class="invalid-feedback">Photo is required</div>
    </div>

    <img [src]="newUser.photo" alt="" id="imgPreview" class="img-thumbnail" />
    <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button"
      >Go back</a
    >
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="registerForm.invalid"
    >
      Create account
    </button>
  </form>
</div>
