<swal icon="success" title="{{ title }}" #updateProfileSwal>
  <ng-container *swalPortal="swalTargets.content">
    {{ message }}
  </ng-container>
</swal>

<swal icon="success" title="Product Bought" (confirm)="goBack()" #buySwal>
  <ng-container *swalPortal="swalTargets.content">
    Successfully bought product
  </ng-container>
</swal>

<sp-product-card
  #productcard
  class="card mt-4 shadow"
  [product]="product"
  (deleted)="goBack()"
  (favorite)="changeFavorite($event)"
></sp-product-card>

<div class="row justify-content-center btn btn-success buy">
  <h4 class="col-2">Buy</h4>
  <sp-paypal-button
    class="col-4"
    *ngIf="!product.mine"
    id="product"
    [amount]="product.price"
    (paymentCompleted)="getPayment($event)"
  ></sp-paypal-button>
</div>

<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v11'"
  [zoom]="[17]"
  [center]="[product.owner!.lng!, product.owner!.lat!]"
>
  <mgl-marker
    [lngLat]="[product.owner!.lng!, product.owner!.lat!]"
  ></mgl-marker>
</mgl-map>
<div class="mt-4 mb-4">
  <button class="btn btn-success" (click)="goBack()">Go back</button>
</div>
